# Ignore the Python virtual environment in this directory.
/.venv

# Ignore tool cache directories.
/.mypy_cache
/.ruff_cache

# Ignore local "cache" of biosamples, used during development.
/.biosamples.json
