# We use httpx as an HTTP client, for fetching data from HTTP APIs.
httpx >= 0.28.1

# We use `bertron-schema` to validate that Python objects conform to the BERtron schema.
bertron-schema @ git+https://github.com/ber-data/bertron-schema.git@4ee7dfda1f53e7c7a668e417bdc921be103e1c8a

# We use `nmdc-schema` to validate that Python objects conform to the NMDC schema.
nmdc-schema == 11.10.0

# We use `typer` as a CLI application framework, and we use `rich` to format
# console output. Installing `typer` installs `rich` automatically, but I don't
# like importing transitive dependencies, so I list `rich` here explicitly.
# Docs: https://typer.tiangolo.com/
typer == 0.17.4
rich == 14.1.0

# We depend on the `typing-extensions` package's `Annotated` class,
# which we use to define metadata on CLI arguments/options.
typing-extensions >= 4.15.0
