# We use httpx as an HTTP client, for fetching data from HTTP APIs.
httpx >= 0.28.1

# We use `bertron-schema` to validate that Python objects conform to the BERtron schema.
bertron-schema @ git+https://github.com/ber-data/bertron-schema.git@4ee7dfda1f53e7c7a668e417bdc921be103e1c8a

# We use `nmdc-schema` to validate that Python objects conform to the NMDC schema.
nmdc-schema == 11.10.0
